:root {
  --main-text: #181818;
  --secondary-text: #9d9d9d;
  --accent-color: #0000ff;
  --white-text: #ffffff;
  --bg-color-main: #ffffff;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  margin: 0;

  font-family: "Montserrat", serif;
  font-weight: 400;
  line-height: normal;
  color: var(--main-text);
  background-color: var(--bg-color-main);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
section {
  margin: 0 calc(16px + (182 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 calc(16px + (182 - 16) * ((100vw - 320px) / (1920 - 320)));
  padding: 70px 0;
  width: 250px;
  height: 38px;
  color: var(--accent-color);

  cursor: pointer;
}

.hero {
  padding-top: 85px;
  padding-bottom: 105px;
}
.hero-title {
  margin-bottom: 60px;
  min-width: 947px;
  font-family: Abel;
  font-size: 90px;
  line-height: 1.15; /* 103.5px */
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.hero-text {
  margin-bottom: 60px;
  width: 52%;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.35; /* 29.7px */
  letter-spacing: 0.66px;
}

.hero-btn {
  padding: 11px 33px;
  min-width: 309px;

  font-size: 15px;
  font-weight: 900;
  line-height: 1.6; /* 24px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-align: center;

  color: var(--white-text);
  background-color: var(--accent-color);

  border: none;
}
.advantages {
  padding-bottom: 217px;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantages-list span {
  position: relative;
  font-size: 80px;
  font-weight: 900;
  line-height: 1.35; /* 108px */
  letter-spacing: 8px;
  text-align: center;

  color: var(--accent-color);
}

.advantages-list span > sup {
  position: absolute;
  top: 10px;
  right: -20px;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 2.1px;
  vertical-align: revert;
}
.advantages-list p {
  -webkit-text-stroke-width: 2;
  -webkit-text-stroke-color: var(--main-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35; /* 24.3px */
  letter-spacing: 0.54px;
  text-align: center;
}

.team {
  padding-bottom: 130px;
}

.team-title {
  margin-bottom: 38px;
  font-size: 80px;
  font-weight: 900;
  line-height: 1.2; /* 96px */
  letter-spacing: 4px;
}

.team-grid {
  display: grid;
  grid-template-columns: 0.9fr 1.2fr 1fr;
  grid-gap: 24px 20px;
}
.img1 {
  grid-column: span 1;
  grid-row-end: auto;
  width: 100%;
  grid-row: 1;
}
.img2 {
  grid-column: span 1;
  width: 100%;
  grid-row: 1;
}
.img3 {
  grid-column: span 1;
  width: 100%;
  grid-row: 1/3;
  height: 100%;
}
.img4 {
  grid-column: span 2;
  width: 100%;
  grid-row: 2/4;
  height: 100%;
}
.img5 {
  grid-column: 3;
  width: 100%;
  grid-row: 3/4;
}
.img6 {
  grid-column: 1/2;
  height: 100%;
  width: 100%;
  grid-row: 4;
}
.img7 {
  grid-column: 2/4;
  height: 100%;
  width: 100%;
  grid-row: 4/5;
}

.data {
  padding-bottom: 100px;
}
.data-title {
  margin-bottom: 70px;
  font-size: 70px;
  font-weight: 900;
  line-height: 1.2; /* 84px */
  letter-spacing: 3.5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 726px;
}
form input,
textarea {
  margin-bottom: 30px;
  padding: 15px 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.2; /* 19.2px */
  letter-spacing: 0.8px;
  color: var(--secondary-text);
  border: none;
  outline: none;
  border-bottom: 1px solid #e5e5e5;
}
textarea {
  margin-bottom: 25px;
}
.data-text {
  margin-bottom: 50px;
  font-size: 14px;

  font-weight: 300;
  line-height: 1.6; /* 22.4px */
  letter-spacing: 0.7px;
  color: #4a4a4a;
}
.data-text > a {
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  color: var(--accent-color);
}

.form-btn {
  padding: 24px 33px;
  max-width: 270px;
  width: 100%;

  font-size: 15px;
  font-weight: 900;
  line-height: 1.6; /* 24px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-align: center;

  color: var(--white-text);
  background-color: var(--accent-color);

  border: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-top: 1px solid #efefef;
}
footer div {
  margin: 0 calc(16px + (182 - 16) * ((100vw - 320px) / (1920 - 320)));
}
.footer-logo p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  color: #cecece;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6; /* 22.4px */
  letter-spacing: 1.4px;
  color: #686868;
}

.footer-tel {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  color: #333;

  cursor: pointer;
}
